<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Book List</title>
    <link href="https://fonts.googleapis.com/css?family=Libre+Baskerville&display=swap" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="/css/main.css">
  </head>
  <body>

    <div class="mainDiv">

      <div class="titleDiv">
        <h1 class="title">WILL'S BOOK LIST</h1>
      </div>

      <div class="bookDiv">
          <% for (let i = 0; i < books.length; i++) { %>
          <% const words = books[i].name.split(" ")%>
          <% books[i].author.split(" ").forEach((auth) => {words.push(auth)})%>
          <% const query = words.join("+") %>
          <% if(i % 2 == 0){ %>
            <ul class="bookList">
              <a href="https://www.google.com/search?q=<%=query%>" target="_blank">
                <li class="bookItem">
                  <h4><%=books[i].name%> - <%=books[i].author%></h4>
                </li>
              </a>
            </ul>
          <% } else { %>
            <ul class="bookList">
              <a href="https://www.google.com/search?q=<%=query%>" target="_blank">
                <li class="bookItem">
                  <h4><%=books[i].name%> - <%=books[i].author%></h4>
                </li>
              </a>
            </ul>
          <% } %>
          <% } %>
        </ul>
      </div>

    </div>

  </body>
</html>
